@charset "utf-8";
/ * Documento CSS * /

/ * Redes * /
.social {
	estilo de lista: nenhum;
	margem: 20px automático;
	largura: automático;
}
.social li {
	repetição de fundo: sem repetição;
    display: inline;
    flutuar: certo;
    altura: 32px;
    margem: 0 0 10px 5px;
    largura: 32px;
	opacidade: 1;
}

.social li: hover {
	opacidade: 0,6;
}

.social li a {
	display: bloco;
	largura: 32px;
	altura: 32px;
	posição: relativa;
	decoração de texto: nenhum;
	esboço: 0 nenhum;
}

li.facebook {
	imagem de fundo: url ("../ img / facebook.jpg");
}
li.linkedin {
	imagem de fundo: url ("../ img / linkedIn.jpg");
}
li.github {
    imagem de fundo: url (".../ img / github.png");

}

/ * Redes * /

@media screen e (largura máxima: 768 px)
{
	.social {
    estilo de lista: nenhum fora de nenhum;
    margem: 20px automático;
    largura: automático;
}
.social li {
    repetição de fundo: sem repetição;
    display: inline;
    flutuar: certo;
    altura: 32px;
    margem: 0 0 10px 5px;
    opacidade: 1;
    largura: 32px;
}
.social li: hover {
    opacidade: 0,6;
}
.social li a {
    display: bloco;
    altura: 32px;
    esboço: 0 nenhum;
    posição: relativa;
    decoração de texto: nenhum;
    largura: 32px;
}
li.facebook {
    imagem de fundo: url ("../ img / facebook.jpg");
}
li.linkedin {
    imagem de fundo: url ("../ img / linkedIn.jpg");
}
li.github {
    imagem de fundo: url ("../ img / github.png");
}

}